/** Reset **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style-type: none;
}
/** Generic **/
a {
  color: white;
}
a:hover {
  color: blue;
}
body {
  position: relative;
}
/** Utility **/
.conteiner {
  max-width: 1080px;
  margin: 0 auto;
}

/** Header **/

.header {
  height: 90px;
  background-color: #ff6a01;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header__conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header__conteiner > * {
  color: white;
}
.header__conteiner__list__link li {
  display: inline;
  color: white;
}
.header__logo {
  height: 20px;
}

/** main **/
.conteiner__main {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
}
.conteiner__main__item {
  height: 530px;
  width: calc(100% / 3 - 25px);
}

.conteiner__main__item__description {
  line-height: 15px;
  height: 50px;
  margin: 10px 0;
}
/** foto product**/
.conteiner__main__item__img {
  position: relative;
  height: 465px;
}
.conteiner__main__item__img .img,
.conteiner__main__item__img .img-hover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/** sales ***/
.sales-sostenibilita {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
}
.hearts {
  position: absolute;
  top: 10px;
  right: 0;
}
.hearts__button {
  padding: 3px 6px;
  font-size: 22px;
  color: gray;
  border: none;
}
.sale {
  padding: 3px 6px;
  background-color: red;
}
.sostenibilita {
  padding: 3px 6px;
  background-color: green;
}
/** hover-img**/
.hearts:hover .hearts__button {
  color: red;
}

.img-hover {
  display: none;
}
.conteiner__main__item__img:hover .img {
  display: none;
}
.conteiner__main__item__img:hover .img-hover {
  display: block;
}

/** description product**/

.marca-product {
  font-size: 10px;
}
.name-product {
  font-size: 14px;
  font-weight: bold;
}
.price {
  font-size: 10px;
  font-weight: bold;
}
.price__new-price {
  color: red;
}
.price__old-price {
  text-decoration: line-through;
}

/**** Footer *****/
.footer {
  background-color: rgb(12, 11, 11);
  color: whitesmoke;
}
.conteiner__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;

  /*debug
  background-color: gray;*/
}
.azzienda {
  font-size: 14px;
  font-weight: bold;
}
.azzienda__info {
  line-height: 20px;
  font-size: 10px;
}
.conteiner__footer__social {
  font-size: 10px;
  font-weight: bold;
}
